body{
/*	background: no-repeat center center fixed !important;*/
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed !important; 
}
img{
	width: 900px;
	height: 200px;
	background: repeat;

}
    @media only screen and (max-device-width: 1000px) {

    /* .menu { width:100%; } */
    }



a{
	background-color: #ff4500;
	color:#000000 ;
	margin-bottom:10px ;
	margin-top:20px;
}
button{
	background-color:#ff4500; 

}

h1{
	color:black;
	display: flex;
	justify-content: center;
}
.container1{
	min-height: 1128px;
	background-color: rgba(129,187,212,0.7);
	 grid-row: .col-xs-7;
	 margin: 0 auto;
}
.div1{
	border: 2px red solid;
	}
.po{
	width: 1246px;
	height: 21px;
}	

.jk{
	background-color: green;
}

#menu{
	background-repeat: no-repeat;
	width: 1346px;
	background-color: #1f191b;
	grid-column: span;
}
	
	

 /* Dropdown Button */
.dropbtn {
    background-color: #ff4500;
    color: white;
    padding: 20px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;} 

#lo{
	color: black;


}
#iu{
	background-image: url('banner.jpg');
    background-repeat: repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;

}

#oi{
	background-color: #00bb77;
	width: 500px;
	margin-left: 200px;
	margin-right: 10px;
}
#lp{
	border: 1px solid #ff4500;
	background-color:#ff4500; 
	border-radius: 3px 3px 0px 0px;  
	width:  104px;
	height: 42px;
	color: black;
	margin-top: 20px;
    text-align: center;
    font-size: 17px;

}
.mn{
	margin-top: 7px;
}
.cv{
	width: 25px;
	height: 25px;
}
#led{
	width: 1346px;
	height: 150px;
	background-color: #1f191b;
	border-top: 1px solid #ff	ffff;
}
h4{
	text-align: center;
	color: #ffffff;
}
#led1{
	text-align: center;
	color: white;
	word-spacing: 60px;
}
#lp:hover{
		background-color: #ff6a33;
		border: 1px solid #ff6a33;
}
#lp:active{
		background-color: #ff7d4d;
		border: 1px solid #ff7d4d;
}
#aa:hover{
background-color: #ff6a33;
		border: 1px solid #ff6a33;

}
#aa:active{
background-color: #ff7d4d;
		border: 1px solid #ff7d4d;
}
#bb:hover{
background-color: #ff6a33;
		border: 1px solid #ff6a33;

}
#bb:active{
background-color: #ff7d4d;
		border: 1px solid #ff7d4d;
}
#cc:hover{
background-color: #ff6a33;
		border: 1px solid #ff6a33;

}
#cc:active{
background-color: #ff7d4d;
		border: 1px solid #ff7d4d;
}
#hh:hover{
background-color: #ff6a33;
		border: 1px solid #ff6a33;

}
#hh:active{
background-color: #ff7d4d;
		border: 1px solid #ff7d4d;
}
#dd:hover{
background-color: #ff6a33;
		border: 1px solid #ff6a33;

}
#dd:active{
background-color: #ff7d4d;
		border: 1px solid #ff7d4d;
}
#dmc{
	width: 500px;
	height: 300px;
	margin-left: 300px;
	border:  1px solid #1f191b;
	background-repeat: no-repeat;
}
@font-face{
	font-family: 'font-game';
	src: url("font-game.ttf");
}

#lu{
	color: white;
	font-family: 'font-game', cursive;
	font-size:  20px;

}
#mm{
	background-repeat: no-repeat;
}
h1 .bd{
	color: black;
}

.li{
	background-size:1823px 423px ;
	

}
.img-fluid{
	opacity: 1;
	margin-left: 400px;
	width: 600px;
	height: 300px;

}
#move{
	text-align: center;
}

.container1{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}




